{% extends "base.html" %}

{% load widget_tweaks %}
{% load bootstrap4 %}       {# import bootstrap4/bootstrap3 #}
{% bootstrap_css %}         {# Embed Bootstrap CSS #}
{% bootstrap_javascript jquery='full' %}  {# Embed Bootstrap JS+jQuery #}

{% block title %} Chamado da Coopervap| {{ block.super }}{% endblock %}

{% block container %}

<div class="jumbotron jumbotron-fluid">
        {% if ligacoes.get_situacao_display == "Concluido" %}
        <h1><b>Relatorio do chamado da Coopervap</b></h1>
        {% else %}
         <h1><b>Abertura de chamado da Coopervap</b></h1>
        {% endif %}
        <p><b> Status do chamado</b> {{ ligacoes.get_situacao_display}}</p>
        <p>O chamado nº <b>{{ ligacoes.id }}</b> aberto dia <b>{{ ligacoes.data }}</b> as <b>{{ ligacoes.hora }}</b> pelo usuario <b>{{ ligacoes.cliente }}</b> do setor <b> mercado</b>,
          com problema relacionado a <b>{{ ligacoes.tipo}} </b>, atendido por <b>{{ ligacoes.atendente }}</b>.<br>
          Com a seguinte descrição: <br>
          <b>{{ ligacoes.assunto }}</b>
          </p>
          <h4 class="text-center text-uppercase">RELATÓRIO TÉCNICO (DEFEITO / CAUSA / SOLUÇÃO)</h4>
                    {% if ligacoes.get_situacao_display == "Concluido" %}
                    
                      
                    <p><b> Solução: </b><br> {{ ligacoes.solucao }} </p>
                      <div class="col-md-12">
                            <p>O chamado ja foi finalizado!</p>
                            {% include "includes/coopervap-salvado.html" %}
                      </div>
                   
                   
                    {% else %}
                    {{ form.media }}
                    <form method="post">
                            {% csrf_token %}
                            {% bootstrap_form form %}
                            <button type="submit" class="btn btn-primary">Salvar chamado</button>
                            <button type="submit" class="btn btn-success">Fechar chamado</button>
                            <a class="btn btn-warning" href="{% url 'core:index' %}" role="button">Cancelar</a>
                        </form>
    
                   {% endif %}

              </div>
            </div>



</div>
{% endblock %}