
<ol class="breadcrumb">
        <li class="active"><a href="{% url 'core:index' %}" class="data-fm-head btn btn-info" data-fm-head="Index" data-fm-callback="reload">Voltar aos chamados</a></li>
        <li class="active"><a href="{% url 'coopervap:relatorios-setor' %}" class="btn btn-primary" data-fm-head="Abrir um chamado da Coopervap" data-fm-callback="reload">Relatorio por setor</a></li>
        <li class="active"><a href="{% url 'coopervap:cadcliente' %}" class="btn btn-primary" data-fm-head="Cadastro de Funcionario da Coopervap" data-fm-callback="reload">Relatorio por Funcionario</a></li>
        <li class="active"><a href="{% url 'coopervap:categoria' %}" class="btn btn-primary" data-fm-head="Cadastro de Categoria" data-fm-callback="reload">Relatorio por Categoria</a></li>
        <li class="active"><a href="{% url 'coopervap:setor' %}" class="btn btn-primary" data-fm-head="Cadastro de Setor" data-fm-callback="reload">Relatorio dos PDV.ID</a></li>
        <!--<li class="active"><a href="{% url 'coopervap:cadpdvid' %}" class="btn btn-primary" data-fm-head="Cadastro de PDV.ID" data-fm-callback="reload">Cadastro de PDV.ID</a></li>-->
</ol>
