
<ol class="breadcrumb">
        <li class="active"><a href="{% url 'core:index' %}" class="data-fm-head btn btn-primary" data-fm-head="Index" data-fm-callback="reload">Listar</a></li>
        <li class="active"><a href="{% url 'coopervap:cadastro' %}" class="btn btn-primary" data-fm-head="Abrir um chamado da Coopervap" data-fm-callback="reload">Abrir um chamado</a></li>
        <li class="active"><a href="{% url 'coopervap:cadcliente' %}" class="fm-create btn btn-primary" data-fm-head="Cadastro de Funcionario da Coopervap" data-fm-callback="reload">Cadastro de Funcionario</a></li>
        <li class="active"><a href="{% url 'coopervap:categoria' %}" class="fm-create btn btn-primary" data-fm-head="Cadastro de Categoria" data-fm-callback="reload">Cadastro de Categoria</a></li>
        <li class="active"><a href="{% url 'coopervap:setor' %}" class="fm-create btn btn-primary" data-fm-head="Cadastro de Setor" data-fm-callback="reload">Cadastro de Setor</a></li>
        <li class="active"><a href="{% url 'coopervap:cadpdvid' %}" class="fm-create btn btn-primary" data-fm-head="Cadastro de PDV.ID" data-fm-callback="reload">Cadastro de PDV.ID</a></li>
        <li class="active"><a href="{% url 'coopervap:todos' %}" class="data-fm-head btn btn-primary" data-fm-head="Index" data-fm-callback="reload">Todos os chamados</a></li>
        <!--
        <li class="active"><a href="{% url 'coopervap:listpdvid' %}" class="btn btn-primary" data-fm-head="Lista dos PDV.ID" data-fm-callback="reload">Lista dos PDV.ID</a></li>

 <li class="active">
                <a href="{% url 'coopervap:relatorios' %}" class="btn btn-primary" data-fm-head="Abrir um chamado da Coopervap" data-fm-callback="reload">Relatorios</a>
        </li> -->

</ol>
