
<ol class="breadcrumb">
        <li><a class="btn btn-info btn-lg" href="{% url 'core:index' %}" role="button">Voltar</a></li>
        <li><a href="{% url 'coopervap:finalizando' ligacoes.id %}" role="button">Fechar chamado</a></li>
        <li class="active"><a target="_blank" href="{% url 'coopervap:relatorio' ligacoes.pk %}">Gerar Chamado para impressão</a></li>        
           
</ol>