{% extends "base.html" %}

{% load widget_tweaks %}

{% block title %} Chamado da Coopervap| {{ block.super }}{% endblock %}

{% block container %}
<!-- {% include "coopervap/menuchamado.html" %} -->
<div class="jumbotron">
   {% if ligacoes.get_situacao_display == "Concluido" %}
  <h1><b>Relatorio do chamado da Coopervap</b></h1>
  {% else %}
   <h1><b>Abertura de chamado da Coopervap</b></h1>
  {% endif %}
  <p><b> Status do chamado</b> {{ ligacoes.get_situacao_display}}</p>
  <p>O chamado nº <b>{{ ligacoes.id }}</b> aberto dia <b>{{ ligacoes.data }}</b> as <b>{{ ligacoes.hora }}</b> pelo usuario <b>{{ ligacoes.cliente }}</b> do setor <b>{{ ligacoes.cliente.setor }}</b>,
    com problema relacionado a <b>{{ ligacoes.tipo}} </b>, atendido por <b>{{ ligacoes.atendente }}</b>.<br>
    Com a seguinte descrição: <br>
    <b>{{ ligacoes.assunto }}</b>
    </p>
 
    {% if ligacoes.get_situacao_display == "Concluido" %}
    
      <p> O problema foi solucionado as  <b>{{ ligacoes.finalizando}}</b> pelo tecnico <b>{{ ligacoes.tecnico }}</b>.
        Com a seguinte descrição da solução:
        <b><p><br> {{ ligacoes.solucao}} </p></b>

        {% include "includes/coopervap-salvado.html" %}
        {% else %}
        
        {% include "includes/coopervap-salvar.html" %}
        {% endif %}


  
   
</div>
{% endblock %}