<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Serviço solicitado. Nº do chamado: {{ ligacoes.id }}</title>


</head>

<body>
       <div class="container">
           <div>
          
            <table>
                    <tr>
                        <th colspan="3"><p><font size="7" ><center>COOPERATIVA AGROPECUARIA DO VALE DO PARACATU Ltda.</center></font><br><br></p></th>                      
                    </tr>
                </table>
                        
                <table>
                        <tr>
                            <th colspan="3"><h4><font size="7" ><center>Serviço solicitado.</center></font></h4></th>          
                            <th colspan="3"><h4><font size="7" > Nº do chamado: {{ ligacoes.id }}</center></font></h4></th>
                        </tr>
                       
                    </table>
            <div>
                    <h4><font size="7" ><center>CHAMADO:</center></font></h4>
                <p><font size="5" >
                    O usuário <b>{{ ligacoes.cliente }}</b> do setor <b>{{ ligacoes.cliente.setor }}</b>, no dia <b>{{ ligacoes.data }}</b> solicita a abertura de um chamado,
                    relacionado a <b>{{ ligacoes.tipo }}</b>. </font>
                </p>
            </div>
            <div>
                    
                    <h4><font size="5" ><center>DESCRIÇÃO DO PROBLEMA:</center></font></h4><br><br>
                    <table>
                        <p>
                            <center>
                                <font size="5">{{ ligacoes.assunto }}</font>
                            </center>
                        </p>
                       
                            <center>_________________________________________________________________________________________________________</center>
                       
                       
                            <center>_________________________________________________________________________________________________________</center>
                       
                            <center>_________________________________________________________________________________________________________</center>
                       
                    
                    </table>
                    
            </div>

            <div>
                    <br>
                    <table>
                        <tr>
                                <th>
                                        <div><p><font size="5" >PATRIMONIO </font></p>
                                            <p><font size="5" ></font></p><BR>
                                            <p><font size="5" >__________________</font></p>
                                        </div>
                                  </th>
                          <th>
                                <div><p><font size="5" >ATENDIMENTO TELEFONE: </font></p>
                                    <p><font size="5" >INICIO: {{ ligacoes.hora }}</font></p>
                                        <p><font size="5" >TERMINO: ____:_____</font></p>
                                </div>
                          </th>
                          <th>
                                <div><p><font size="5" >ATENDIMENTO TECNICO: </font></p>
                                    <p><font size="5" >INICIO: {{ ligacoes.data }}</font></p>
                                        <p><font size="5" >TERMINO: ___/___/_____</font></p>
                                </div>
                          </th>
                        </tr>
                      </table>
                      <br>
                    
                    <table>
                            <tr>
                                    <th>
                                            <div><p><font size="5" > </font></p>
                                                <p><font size="5" ></font></p><BR>
                                                <p><font size="5" ></font></p>
                                            </div>
                                      </th>
                              <th>
                                    <div><p><font size="5" > </font></p>
                                        <p><font size="5" ></font></p>
                                            <p><font size="5" ></font></p>
                                    </div>
                              </th>
                              <th>
                                    <div><p><font size="5" > </font></p>
                                        <p><font size="5" >INICIO: ____:_____</font></p>
                                            <p><font size="5" >TERMINO: ____:_____</font></p>
                                    </div>
                              </th>
                            </tr>
                          </table>
                          <br><br>
                            <h4><font size="5" ><center>RELATÓRIO TÉCNICO (DEFEITO / CAUSA / SOLUÇÃO)</center></font></h4><br><br>

                          <p><center><font size="5">{{ ligacoes.solucao }}</font>
                        </center></p>
                          <td><center>_________________________________________________________________________________________________________</center></td><br>
                          <td><center>_________________________________________________________________________________________________________</center></td><br>
                          <td><center>_________________________________________________________________________________________________________</center></td><br>
                          <td><center>_________________________________________________________________________________________________________</center></td><br>
                          <td><center>_________________________________________________________________________________________________________</center></td><br>
                          
                        
                        
            </div>
                    
    
        </div>
       </div><br><br>
       <!--Rodape de assinatura do chamado pronta -->
       <div>
            <table>
                    <tr>
                      <th><p><font size="5" ><center>CONTATO: (38) 3679-8972</center></font></p><br></th>
                      <th><p><font size="5" ><center>email: suporte@coopervap.com.br</center></font></p><br></th>
                    </tr>
                    <tr>
                      <td><p><font size="5" ><center>ASSINATURA DO TÉCNICO</center></font></p><br></td>
                      <td><p><font size="5" ><center>ASSINATURA DO SETOR</center></font></p><br></td>
                    </tr>
                    <tr>
                      <td><center>_____________________________________________</center></td>
                      <td><center>_____________________________________________</center></td>
                    </tr>
                  </table>
       </div>

     
</body>

</html>
