{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} Alterar funcionario | {{ block.super }}{% endblock %}

{% block container %}
  <div class="row">
    <div class="col-md-12">
      <div class="col-6 col-lg-5">
          {% include "includes/coopervap-pendentes.html" %}

      {% include "includes/menucoopervap.html" %}
      <div class="card">

        <div class="card-body">
          <div class="row">
            <div class="col-sm-12">
              <div class="row">
                <div class="col-sm-12">
                  <div class="callout callout-info">
                    <small class="text-muted">
                        <h2><p> Abrir chamado</p></h2>
                             <form role="form" action="" method="post">

                                    {% csrf_token %}
                                    {% include 'includes/bs4_form.html' with form=form %}
                                    <div class="row">
                                        <div class="col-lg-12 text-right">
                                            <input type="submit" class="btn btn-primary" name="submit" value="Guardar">
                                            <button type="button" class="btn btn-default" onclick="return cerrar_modal()">
                                                Cancelar
                                            </button>
                                        </div>
                                    </div>
                              </form>
                    </small>
                    <br>

                    <div class="chart-wrapper">
                      <canvas id="sparkline-chart-1" width="100" height="30"></canvas>
                    </div>
                  </div>
                </div>
              </div>
              <hr class="mt-0">
            </div>
          </div>

          <br/>

      </div>
    </div>
  </div>
{% endblock container %}