<a class="btn btn-info btn-lg" href="{% url 'core:index' %}" role="button">Voltar</a>

<a target="_blank" class="btn btn-success btn-lg" href="{% url 'coopervap:relatorio' ligacoes.pk %}">Gerar Chamado para impressão</a>