<div class="col-6 col-lg-5">
        <div class="card">
          <div class="card-body p-0 d-flex align-items-center">
            <i class="fa fa-bell bg-danger p-4 px-5 font-2xl mr-3"></i>
            <div>
              <div class="h2 text-danger">  {{ total }} </div>
              <div class="text-muted text-uppercase font-weight-bold small"><a href="{% url 'coopervap:pendentes' %}">Chamados pendentes</a></div>
            </div>
          </div>
        </div>
      </div>
</div>