<a class="btn btn-info btn-lg" href="{% url 'core:index' %}" role="button">Voltar</a>

<a class="btn btn-primary btn-lg" href="{% url 'coopervap:finalizando' ligacoes.pk %}" role="button">Fechar chamado</a>

<a target="_blank" class="btn btn-success btn-lg" href="#">Gerar Chamado para impressão</a>