<div class="col-6 col-lg-5">
        <div class="card">
          <div class="card-body p-0 d-flex align-items-center">
              <div>
              <div class="text-muted text-uppercase font-weight-bold small"<a href="{% url 'coopervap:cadastro' %}"> <i class="fa fa-plus bg-success p-4 px-5 font-2xl mr-3"></i>Abrir Chamado</a></div>
            </div>
          </div>
        </div>
      </div>
</div>