<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js" type="text/javascript"></script>
<div class="card-header">
    
        <ul class="nav ">
            <li class="nav-item px-3">
              <a class="nav-link" href="{% url 'core:index' %}">Chamados recentes</a>
            </li>
            <li class="nav-item px-3">
              <a class="nav-link" href="{% url 'coopervap:cadastro' %}">Criar chamado</a>
            </li>
            <li class="nav-item px-3">
              <a class="nav-link" href="{% url 'core:index' %}">Lista de funcionarios</a>
						</li>
						<li class="nav-item px-3">
              <a class="nav-link" href="{% url 'coopervap:cadcliente' %}">Cadastrar funcionario</a>
            </li>
				</div>