    <div class="col-lg-12 text-right">
        <input type="submit" class="btn btn-primary btn-lg" name="submit" value="Salvar">
           <a class="btn btn-danger btn-lg" href="{% url 'core:index' %}" role="button">Cancelar</a>
    </div>
