{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Chamados Coopervap {% block title %}{% endblock title %}</title>
    <!-- Icons-->
    <link href="{% static 'css/flag-icon-css/css/flag-icon.min.css' %}" rel="stylesheet" />
    <!-- <link href="{% static 'css/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" /> -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link href="{% static 'css/simple-line-icons/css/simple-line-icons.css' %}" rel="stylesheet" />
    <!-- jQuery-UI -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <!-- Datatable -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/jq-3.2.1/dt-1.10.16/datatables.min.css"/>
    <link rel="stylesheet" href="https://cdn.datatables.net/select/1.2.5/css/select.dataTables.min.css">
    <!-- Main styles for this application-->
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
  </head>
  <body class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show">
    {% include "includes/nav.html" %}
    <div class="app-body">
      {% include "includes/sidebar.html" %}
      <main class="main">
        <!-- Breadcrumb-->
        <ol class="breadcrumb">
         
          <!-- <li class="breadcrumb-item">
            <a href="">Admin</a>
          </li> -->
          {% block breadcrumb %}{% endblock %}
          <!-- Breadcrumb Menu-->
          <li class="breadcrumb-menu d-md-down-none">
            <div class="btn-group" role="group" aria-label="Button group">
              <!-- <a class="btn" href="">
                <i class="icon-speech"></i>
              </a>
              <a class="btn" href="./">
                <i class="icon-graph"></i>  Dashboard</a> -->
              <!-- <a class="btn" href="">
                <i class="icon-settings"></i>  Settings</a> -->
            </div>
          </li>
        </ol>
        <div class="container-fluid">
          <div class="animated fadeIn">

            {% block container %}{% endblock container %}

          </div>

        </div>
      </main>
      {% include "includes/aside-menu.html" %}
    </div>
    {% include "includes/footer.html" %}
    <!-- Bootstrap and necessary plugins-->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <!-- <script src="http://code.jquery.com/jquery-2.2.4.min.js"></script> -->
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{% static 'js/ui.datepicker-pt-BR.js' %}"></script>
<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="{% static 'js/pace.min.js' %}"></script>
    <script src="{% static 'js/perfect-scrollbar.min.js' %}"></script>
    <script src="{% static 'js/coreui.min.js' %}"></script>
    <!-- Datatable -->
    <script src="https://cdn.datatables.net/v/bs4/jq-3.2.1/dt-1.10.16/sl-1.2.5/datatables.min.js"></script>
    <script src="https://cdn.datatables.net/select/1.2.5/js/dataTables.select.min.js"></script>
    <!-- Plugins and scripts required by this view-->
    <!-- <script src="{% static 'js/custom-tooltips.min.js' %}"></script> -->
    <script src="{% static 'js/main.js' %}"></script>

    {% block js %}{% endblock %}
  </body>
</html>