{% extends "base.html" %}
{% load static %}

{% block container %}
  <div class="row">
    <div class="col-md-12">
        {% include "includes/qtd-pendentes.html" %}

      <div class="card">
        <div class="card-header">
            Serviços de serviços usados pela informática da Coopervap.
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-12">
              <div class="row">
                <div class="col-sm-12">
                  <div class="callout callout-info">
                    <small class="text-muted">
                            <a target="_blank" href="https://docs.google.com/spreadsheets/d/1dvSmuaN6W64P_aifZpQOil5m-JsFYIj9mJsIpyhzoH4" class="btn btn-primary" data-fm-head="Chamado da Coopervap" data-fm-callback="reload">Chamado da Coopervap na planilha</a>                    
                            <a target="_blank" href="https://infocoopervap.bitrix24.com.br" class="btn btn-primary" data-fm-head="Chamado da Coopervap" data-fm-callback="reload">Controle de tarefas e gerenciamento de projetos</a>                   
                            <a target="_blank" href="http://192.168.254.216:8080/" class="btn btn-primary" data-fm-head="Chamado da Coopervap" data-fm-callback="reload">Monitoramento de IPs</a>                   
                            <a target="_blank" href="https://coopervap.tributum.online/entrar/" class="btn btn-primary" data-fm-head="Chamado da Coopervap" data-fm-callback="reload">Tributum, controle dos XMLs</a>                    
                            <a target="_blank" href="https://www.fsist.com.br/" class="btn btn-primary" data-fm-head="Chamado da Coopervap" data-fm-callback="reload">Download XMLs</a>                   
                            <a target="_blank" href="https://painel-email.locaweb.com.br/domains/coopervap.com.br" class="btn btn-primary" data-fm-head="Chamado da Coopervap" data-fm-callback="reload">Criar emails coopervap</a>
                    </small>
                    <br>
                    
                    <div class="chart-wrapper">
                      <canvas id="sparkline-chart-1" width="100" height="30"></canvas>
                    </div>
                  </div>
                </div>
              </div>
              <hr class="mt-0">
            </div>
          </div> 
          
          <br/>
         
      </div>
    </div>
  </div>
{% endblock container %}