{% extends "base.html" %}
{% load static %}

{% block container %}
  <div class="row">
    <div class="col-md-12">
        
      <div class="card">
        <div class="card-header">
            Bem Vindo!
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-12">
              <div class="row">
                <div class="col-sm-12">
                  <div class="callout callout-info">
                      <ol class="breadcrumb">
                          <span class="user">
                              {% if request.user.is_authenticated %}
                              Bem Vindo {{ request.user.name }},
                              <a href="{% url "logout" %}">Sair</a>
                              {% else %}
                              <li class="active"></li>  
                        <li><a href="{% url 'login' %}">Para logar clique aqui</a></li>
                              {% endif %}
                              </span>
                        
                          
                        </ol>
                    <br>
                    <ul class="nav nav-tabs">
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Conta</a>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'accounts:index' %}">Perfil</a>
                        <a class="dropdown-item" href="{% url 'accounts:update_user' %}">Alterar dados</a>
                        <a class="dropdown-item" href="{% url 'accounts:update_password' %}">Alterar password</a>
                        
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'logout' %}">Sair</a>
                      </div>
                    </li>
                    </ul>
                    <div class="chart-wrapper">
                      <canvas id="sparkline-chart-1" width="100" height="30"></canvas>
                    </div>
                  </div>
                </div>
              </div>
              <hr class="mt-0">
            </div>
          </div> 
          
          <br/>
         
      </div>
    </div>
  </div>
{% endblock container %}  