{% extends "base.html" %}
{% load static %}

{% block container %}

  <div class="row">
    <div class="col-md-12">
      <div class="col-6 col-lg-5">
          
                {% include "includes/coopervap-pendentes.html" %}
                <h4 class="text-center text-uppercase">Lista de Funcionários </h4>

      {% include "includes/menucoopervap.html" %}
      <div class="card">

        <div class="card-body">
          <div class="row">
            <div class="col-sm-12">
              <div class="row">
                <div class="col-sm-12">
                  <div class="callout callout-info">
                    <small class="text-muted">
                        <div class="row">
                            <div class="col-lg-12">
                                <table id="table" class="display table-bordered text-left"  cellspacing="1" width="100%" >
                                    <thead>
                                        <tr><b>
                                            <th class="text-center">ID</th>
                                            <th class="text-center">Nome</th>
                                            <th class="text-center">Apelido</th>
                                            <th class="text-center">Ramal</th>
                                            

                                            <th class="text-center">Ações</th></b>
                                        </tr>
                                    </thead>
                                    <tbody>

                                    {% for item in object_list %}
                                    <tr>
                                            <td>{{ item.id }}</td>
                                            <td><a href="#}"></a>{{ item.nome }}</a></td>
                                            <td>{{ item.slug }}</td>
                                            <td>{{ item.ramal }}</td>
                                            

                                            <td class="text-left">
                                                    <a href="{% url 'coopervap:ocliente' item.pk %}" class="btn">
                                                        <i class="fas fa-eye"></i>
                                                    </a>
                                                    <a href="{% url 'coopervap:alterar-funcionario' item.pk %}" class="btn">
                                                        <i class="fas fa-edit"></i>
                                                    </a>
                                                    <a href="{% url 'coopervap:chamado_funcionario' item.pk %}" class="btn">

                                                        <i class="fas fa-plus"></i>
                                                    </a>

                                            </td>
                                            </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>

                            </div>
                        </div>


                    </div>
                       {% include "includes/js-base.html" %}
                    </small>
                    <br>

                    <div class="chart-wrapper">
                      <canvas id="sparkline-chart-1" width="100" height="30"></canvas>
                    </div>
                  </div>
                </div>
              </div>
              <hr class="mt-0">
            </div>
          </div>

          <br/>

      </div>
    </div>
  </div>
{% endblock container %}