{% extends "base.html" %}
{% load static %}

{% block container %}

  <div class="row">
    <div class="col-md-12">
      <div class="col-6 col-lg-5">

                {% include "includes/coopervap-pendentes.html" %}

      {% include "includes/menucoopervap.html" %}
           <h3 class="text-center"><b>Funcionario Coopervap</b></h3>
<div class="container position-relative">
    <div class="row">
        <div class="col-md-4">
            <p><b> Nome</b> {{ cliente.nome}}</p>
            <p><b> Indentificador</b> {{ cliente.slug}}</p>
        </div>
        <div class="col-md-4">
            <p><b>Setor:</b> mercado</p>
            <p><b>Ramal:</b> {{ cliente.ramal }}</p>

        </div>
        <div class="col-md-4">
            <p><b>Quantidade de chamados desse funcionario:</b> {{ totalchamadocli.count}}</p>


        </div>
    </div>
</div>




    <h4 class="text-center">Lista de chamado do usuario</h4>
      <div class="card">

        <div class="card-body">
          <div class="row">

            <div class="col-sm-12">
              <div class="row">
                <div class="col-sm-12">
                  <div class="callout callout-info">
                    <small class="text-muted">
                        <div class="row">

                            <div class="col-lg-12">
                                <table id="table" class="display table-bordered text-left"  cellspacing="1" width="100%" >
                                    <thead>
                                        <tr><b>
                                            <th class="text-center">ID</th>
                                            <th class="text-center">Categoria</th>
                                            <th class="text-center">Status</th>
                                            <th class="text-center">Descrição</th>
                                            <th class="text-center">Data</th>
                                            <th class="text-center">Setor</th>
                                            <th class="text-center">Ações</th></b>
                                        </tr>
                                    </thead>
                                    <tbody>

                                    {% for item in totalchamadocli %}
                                    <tr>
                                            <td>{{ item.id }}</td>
                                            <td>{{ item.tipo }}</td>
                                            {% if item.situacao == 5 %}
                                                    <td><span class="badge badge-success">{{ item.get_situacao_display }}</span></td>
                                                {% elif  item.situacao == 1  %}
                                                    <td><span class="badge badge-warning">{{ item.get_situacao_display }}</span></td>
                                                {% elif item.situacao == 3  %}
                                                    <td><span class="badge badge-danger">{{ item.get_situacao_display }}</span></td>
                                                {% elif item.situacao == 2  %}
                                                    <td><span class="badge badge-danger">{{ item.get_situacao_display }}</span></td>
                                                {% elif item.situacao == 6  %}
                                                    <td><span class="badge badge-warning">{{ item.get_situacao_display }}</span></td>
                                                {% elif item.situacao == 0  %}
                                                    <td><span class="badge badge-danger">{{ item.get_situacao_display }}</span></td>
                                                {% else %}
                                                    <td><p><span class="badge badge-danger">Status Invalido</span></p></td>
                                            {% endif %}
                                            <td>
                                                <a href="{% url 'coopervap:ochamado' item.pk %}"></a>{{ item.assunto }}</a>
                                            </td>
                                            <td>{{ item.data }}</td>
                                            <td>{{ item.cliente.setor }}</td>
                                            <td class="text-left">
                                                    <a href="{% url 'coopervap:ochamado' item.pk %}" class="btn">
                                                        <i class="fas fa-eye"></i>
                                                    </a>


                                                    <a href="{% url 'coopervap:finalizando' item.pk %}" class="btn">
                                                        <i class="fas fa-edit"></i></a>
                                            </td>
                                            </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>

                            </div>
                        </div>

<a class="btn btn-info btn-lg" href="{% url 'core:index' %}" role="button">Voltar</a>
                    </div>
                       {% include "includes/js-base.html" %}
                    </small>
                    <br>

                    <div class="chart-wrapper">
                      <canvas id="sparkline-chart-1" width="100" height="30"></canvas>
                    </div>
                  </div>
                </div>
              </div>
              <hr class="mt-0">
            </div>
          </div>

          <br/>

      </div>
    </div>
  </div>
{% endblock container %}