{% extends "base.html" %}

{% load widget_tweaks %}

{% block title %} Funcionario da Coopervap| {{ block.super }}{% endblock %}

{% block container %}

<div class="jumbotron">

   <h1><b>Funcionario Coopervap</b></h1>

  <p><b> Nome</b> {{ cliente.nome}}</p>
  <p><b> Indentificador</b> {{ cliente.slug}}</p>
  <p><b>Setor:</b> {{ cliente.setor }}</p>
  <p><b>Ramal:</b> {{ cliente.ramal }}</p>
  <p><b>Quantidade de chamados desse funcionario:</b> {{ totalchamadocli.count}}</p>
    {% for item in object_list %}
     <p><b> ID</b> {{ item.id}}</p>
     <p><b> Assunto</b> {{ item.assunto}}</p>
      {% endfor %}


    <ol class="breadcrumb">


        <li><a class="btn btn-success btn-lg" href="{% url 'core:index' %}" role="button">Voltar</a></li>

</ol>

  

</div>
{% endblock %}