{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} Chamado da Coopervap | {{ block.super }}{% endblock %}

{% block container %}
  <div class="row">
    <div class="col-md-12">
      <div class="col-6 col-lg-5">
          {% include "includes/coopervap-pendentes.html" %}

      {% include "includes/menucoopervap.html" %}
      <div class="card">
       
        <div class="card-body">
          <div class="row">
            <div class="col-sm-12">
              <div class="row">
                <div class="col-sm-12">
                  <div class="callout callout-info">
                    <small class="text-muted">
                        <h2><p> Alterar dados do funcionario!</p></h2>
                             <form role="form" action="#" method="post">

                                    {% csrf_token %}
                                    {% include 'includes/bs4_form.html' with form=form %}
                                 <div class="row">
                                     {% include 'includes/salvar.html'%}
                                 </div>


                              </form>
                    </small>
                    <br>
                    
                    <div class="chart-wrapper">
                      <canvas id="sparkline-chart-1" width="100" height="30"></canvas>
                    </div>
                  </div>
                </div>
              </div>
              <hr class="mt-0">
            </div>
          </div> 
          
          <br/>
         
      </div>
    </div>
  </div>
{% endblock container %}