<footer class="app-footer">
  <div>
      <a target="_blank" href="http://coopervap.com.br/">© Coopervap</a>
      
  </div>
  <div class="ml-auto">
    <span><a href="#">Terms of Service</a></span>
    <a href="/pages/versao" target="_blank">Versão: 1.4</a>
  </div>
</footer>
