<div id="popup"></div>
<script type="text/javascript">
     var modal;
    function abrir_modal(url, titulo) {
        modal = $('#popup').dialog(
            {
                title: titulo,
                modal: true,
                width: 600,
                resizable: false
            }).dialog('open').load(url)
    }

    function cerrar_modal() {
        modal.dialog("close");
    }

    $(document).ready(function () {
        var table = $('#table').dataTable({
            "language": {
                url: "/static/localizacao/pt_BR.json"
            },
            "ordering": true,
			scrollY: '50vh',
            scrollCollapse: true,



            "pagingType": "full_numbers",
            "order": [[0, "desc"]],

            "columnDefs": [
            { "width": "10%", "targets": 0 },
            { "width": "10%", "targets": 5 },
          ]
        });
    });
</script>