{% load static %}
<header class="app-header navbar">
  <button class="navbar-toggler sidebar-toggler d-lg-none mr-auto" type="button" data-toggle="sidebar-show">
  <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="{% url 'core:index' %}">
    <!-- <img class="img-fluid img-thumbnail" src="{% static 'img/avatars/logo_coopervap.jpg' %}" alt="admin@bootstrapmaster.com"> -->
    <img src="{% static 'img/avatars/logo_coopervap.jpg' %}" class="img-fluid img-thumbnail" alt="Cinque Terre" width="60" height="60">
  </a>
  <button class="navbar-toggler sidebar-toggler d-md-down-none" type="button" data-toggle="sidebar-lg-show">
  <span class="navbar-toggler-icon"></span>
  </button>
  <ul class="nav navbar-nav d-md-down-none">
    <li class="nav-item px-3">
      <a class="nav-link" href="{% url 'core:index' %}">Dashboard</a>
    </li>
    <li class="nav-item px-3">
      <a class="nav-link" href="{% url 'coopervap:index' %}">Coopervap</a>
    </li>
   
   
  </ul>
  <ul class="nav navbar-nav ml-auto">
    <li class="nav-item d-md-down-none">
      <a class="nav-link" href="#">
        <i class="icon-bell"></i>
        <span class="badge badge-pill badge-danger">5</span>
      </a>
    </li>
   
      <li class="nav-item d-md-down-none">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Conta</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="{% url 'accounts:index' %}">Perfil</a>
          <a class="dropdown-item" href="{% url 'accounts:update_user' %}">Alterar dados</a>
          <a class="dropdown-item" href="{% url 'accounts:update_password' %}">Alterar password</a>
          
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{% url 'logout' %}">Sair</a>
        </div>
      </li>
  
    <!-- <li class="nav-item d-md-down-none">
      <a class="nav-link" href="">
        <i class="icon-list"></i>
      </a>
    </li>
    <li class="nav-item d-md-down-none">
      <a class="nav-link" href="">
        <i class="icon-location-pin"></i>
      </a>
    </li> -->
    <li class="nav-item dropdown">
      <a class="nav-link" data-toggle="dropdown" href="" role="button" aria-haspopup="true" aria-expanded="false">
        <img class="img-avatar" src="{% static 'img/avatars/5.jpg' %}" alt="admin@bootstrapmaster.com">
      </a>
      <div class="dropdown-menu dropdown-menu-right">
        <div class="dropdown-header text-center">
          <strong>Account</strong>
        </div>
        <a class="dropdown-item" href="{% url 'admin:index' %}">
          <i class="fa fa-bell-o"></i> Admin
          <span class="fa fa-wrench"></span>
        </a>
        <a class="dropdown-item" href="">
          <i class="fa fa-envelope-o"></i> Messages
          <span class="badge badge-success">42</span>
        </a>
        <a class="dropdown-item" href="">
          <i class="fa fa-tasks"></i> Tasks
          <span class="badge badge-danger">42</span>
        </a>
        <a class="dropdown-item" href="">
          <i class="fa fa-comments"></i> Comments
          <span class="badge badge-warning">42</span>
        </a>
        <div class="dropdown-header text-center">
          <strong>Settings</strong>
        </div>
        <a class="dropdown-item" href="">
        <i class="fa fa-user"></i> Profile</a>
        <a class="dropdown-item" href="">
        <i class="fa fa-wrench"></i> Settings</a>
        <a class="dropdown-item" href="">
          <i class="fa fa-usd"></i> Payments
          <span class="badge badge-secondary">42</span>
        </a>
        <a class="dropdown-item" href="">
          <i class="fa fa-file"></i> Projects
          <span class="badge badge-primary">42</span>
        </a>
        <div class="divider"></div>
        <a class="dropdown-item" href="">
        <i class="fa fa-shield"></i> Lock Account</a>
        <a class="dropdown-item" href="#">
        <i class="fa fa-lock"></i> Logout</a>
      </div>
    </li>
  </ul>
  <!-- <button class="navbar-toggler aside-menu-toggler d-md-down-none" type="button" data-toggle="aside-menu-lg-show">
  <span class="navbar-toggler-icon"></span>
  </button> -->
  <button class="navbar-toggler aside-menu-toggler d-lg-none" type="button" data-toggle="aside-menu-show">
  <span class="navbar-toggler-icon"></span>
  </button>
</header>