{% load static %}
<div class="sidebar">
  <nav class="sidebar-nav">
      
    <ul class="nav">
      <li class="nav-item">
          <a class="nav-link" href="{% url 'core:index' %}">
            <i class="nav-icon icon-speedometer"></i> Dashboard
            <!-- <span class="badge badge-primary">NEW</span> -->
          </a>
        </li>
     
      <!-- <li class="nav-item">
        <a class="nav-link" href="">
        <i class="nav-icon icon-people"></i> Clientes</a>
      </li> -->
    </ul>
  </nav>
  <button class="sidebar-minimizer brand-minimizer" type="button"></button>
</div>